# Node.js
node_modules/

# TypeScript
*.tsbuildinfo
*.js
*.map

# Build output
/dist/
/out/

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log

# Environment variables
.env
.env.local

# Dependency lock files
yarn.lock
package-lock.json
